#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
width: 100dvw;
height: 100dvh;
display: flex;
justify-content:center;
align-items:center;
}

.calculator {
width: 800px;
height: 800px;
display: flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.num-output {
width: 100%;
height: 150px;
background-color: pink;
}

.num-input {
width: 100%;
height: 50%;
display: grid;
grid-template-columns: repeat(4,25%);
}

.Bcero{
  grid-column: span 2;
}